@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;200;400;700&display=swap');

:root {
--primary: #264653;
--primary-light: #E0E4E6;
--secondary: #2a9d8f;
--accent: #e9c46a;
--accent2: #f4a261;
--accent3: #e76f51;
--light: #FEFDFB;
--dark: #081013;
--white: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
   font-weight: 400;
}

html, body {
   margin: 0;
   padding: 0;
   font-size: 10px;
}

.app--container {
   position: absolute;
   z-index: 1;
   width: 100%;
}

.navbar--container {
   align-items: center;
   display: grid;
   grid-template-columns: 20% 38% 40%;
   grid-template-rows: 7rem;
   grid-template-areas: 
         'l s b';
   width: 100%;
   background-color: var(--primary);
   font-size: 1.5rem;
   color: var(--primary-light);
}

header .nav--button {
   grid-area: b;
   visibility: hidden;
   width: 1rem;
   padding: 0.5rem;
   border: none;
   background: transparent;
   color: var(--light);
   opacity: 0;
   cursor: pointer;
   outline: none;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 200%;
   /* background-color: var(--accent); */
}

.navbar--container h3 {
   grid-area: l;
   min-width: 14rem;
   margin-left: 2rem; 
   font-size: 2.5rem;
}

nav a {  
   color: var(--light);
   text-decoration: none;
}

nav a:hover {
   color: var(--secondary);
}

.hero--container {
   position: relative;
   width: 100%;
   height: 40rem;
   /* background-color: red;  */
}

.hero--landing {
   position: absolute;
   top: 50%; 
   left: 50%; 
   display: grid; 
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);

   /* h = headshot i = intro n = name sk = skill l = location sh = shape */
   grid-template-areas: 
         '. . . . . . . . i i i i'
         'h h h h h h . n n n n n'
         'h h h h h h . n n n n n'
         'h h h h h h sk sk sk sk sk sk'
         'h h h h h h sk sk sk sk sk sk'
         'h h h h h h . . . . . .'
         'h h h h h h l l l l l l'
         'h h h h h h l l l l l l'
         'h h h h h h . . t t t t'
         'h h h h h h . . t t t t'
         'sh sh sh sh sh sh sh sh sh sh sh sh'
         'sh sh sh sh sh sh sh sh sh sh sh sh'
         'sh sh sh sh sh sh sh sh sh sh sh sh';
   width: 30rem;
   height: 30rem;
   margin: -15rem 0 0 -15rem; 
   /* background-color: #e76f51; */
}

.hero--headshot {
   z-index: 2;
   grid-area: h;
   width: 150px;
   margin-top: 1rem;
}

.hero--img-shape {
   position: absolute;
   z-index: 1;
   top: -1rem;
   left: 2rem;
   grid-area: h;
   width: 15rem;
   height: 20rem;
   background-color: var(--accent2);
   background-color: var(--accent2);
}

.hero--intro {
   position: absolute;
   grid-area: i;
   top: 1.8rem;
   opacity: 0.6;
   width: 10rem;
   text-align: center;
   font-weight: 400;
   /* background-color: var(--secondary); */
}

.hero--name {
   grid-area: n;
   width: 12.5rem;
   height: 2.5rem;
   margin-top: 0.6rem;
   text-align: right;
   font-size: 2.2rem;
   font-weight: 400;
}

.hero--skill {
   z-index: 1;
   grid-area: sk;
   width: 14rem;
   margin-top: -1rem;
   margin-left: 1rem;
   font-size: 3rem;
   font-weight: 100;
}

.hero--location {
   z-index: 1;
   grid-area: l;
   width: 12rem;
   margin-left: 1rem;
}

.hero--bottom-shape {
   grid-area: sh;
   width: 30rem;
   height: 100%;
   background-color: var(--secondary);
}

.skill--container {
   position: relative;
   z-index: 1;
   justify-content: center;
   padding: 0 5rem;
   overflow-wrap: auto;
   /* background-color: lavender; */
}

.skill--img {
   margin: 0 auto;
   margin-bottom: -3px;
   max-width: 100%;
   filter: brightness(50%);
}

.skill--text-container {
   position: absolute;
   z-index: 2;
   top: 30%;
   left: 12rem;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-areas: 
      '. a b c .';
   grid-gap: 4rem;
   max-width: 200rem;
   margin-right: 13rem;
   font-size: 1.5rem;
   /* background-color: darksalmon; */
   overflow: hidden;
}


.skill--responsive {
   grid-area: a;
   max-width: 300px;
   /* background-color: red; */
}

.skill--function {
   grid-area: b;
   max-width: 300px;
   /* background-color: blue; */
}

.skill--framework {
   grid-area: c;
   max-width: 300px;
   /* background-color: lawngreen; */
}

.skill--card-title {
   margin-bottom: 2rem;
   color: var(--accent3);
   font-size: 4rem;
   font-weight: 700;
}

.skill--description {
   line-height: 1.5;
   color: var(--primary-light);
}


@media only screen and (max-width: 1024px) {
   .nav--button {
      margin-left: 85%;
   }

   .nav--close-button {
      position: absolute;
      top: 25px;
      right: 60px;
      margin: 0;
      padding: 0;
   }
   
   header {
      z-index: 2;
   }

   header h3 {
      width: 20rem;
      margin-top: 0rem;
   }

   header .nav--button {
      font-size: 2.5rem;
      visibility: visible;
      opacity: 1;
   }

   header nav {
      position: fixed;
      top: 0;
      left: 0;
      gap: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background-color: var(--accent3);
      transition: 0.5s;
      transform: translateY(-100vh);
   }

   header .responsive--nav {
      z-index: 3;
      display: flex;
      padding: 5% 0;
      justify-content: space-between;
      flex-direction: column;
      transform: none;
   }
}

@media only screen and (max-width: 777px) {
   .navbar--container {
      /* color: red; */
      padding-right: 40px;
   }

   header .nav--button {
     position: absolute;
     left: 7%;
   }

   header .nav--close-button {
      position: absolute;
      left: 91%;
      
   }

}
