@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
--primary: #264653;
--primary-light: #E0E4E6;
--secondary: #2a9d8f;
--accent: #e9c46a;
--accent2: #f4a261;
--accent3: #e76f51;
--dark: #081013;
--darklight: #2E2E2E;
--darklight2: #3d3d3d;
--gray: #5e6568;
--light-shadow: #B4B5B5;
--lighter-shadow: #D4D4D4;
--light: #FEFDFB;
--white: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
   font-weight: 400;
   box-sizing: border-box;
}

html, 
body {
   margin: 0;
   padding: 0;
   font-size: 10px;
   scroll-behavior: smooth;
}

img {
   display: block;
}

a:link,
a:visited,
a:hover,
a:active {
   color: var(--light); 
   text-decoration: none;
}

.button {
   position: relative; 
   top: 3rem;
   padding: 1rem 10%;
   border-radius: 4px;
   background-color: var(--secondary);
   font-size: 1.75rem;
   color: var(--primary-light);
   text-decoration: none;
}

.bold {
   font-weight: 700;
}

.app--container {
   position: absolute;
   z-index: 1;
   width: 100%;
}

/* Scaleables */

.section {
   padding: 0 5rem;
}

.section--title {
   align-self: center;
   margin: 0;
   padding: 0;
   width: 100%;
   font-size: 8rem;
   font-weight: 900;
   color: var(--dark);
   /* background-color: red; */
}

.section--subtitle {
   margin: 0;
   padding: 1rem;
   width: 100%;
   letter-spacing: -2px;
   font-size: 3rem;
   font-weight: 300;
   font-family: 'Cutive Mono';
   color: var(--dark);
   background-color: var(--secondary);
}

.section--description {
   margin-top: 2rem;
   font-size: 1.6rem;
   color: var(--gray); 
   line-height: 2;
}

/* Navbar Section */

.navbar--container {
   align-items: center;
   display: grid;
   grid-template-columns: 20% 38% 40%;
   grid-template-rows: 7rem;
   grid-template-areas: 
         'l s b';
   width: 100%;
   background-color: var(--primary);
   font-size: 1.5rem;
   color: var(--primary-light);
   overflow: hidden;
}

header {
   position: fixed;
   z-index: 10;
}

header .nav--button {
   grid-area: b;
   visibility: hidden;
   width: 1rem;
   padding: 0.5rem;
   border: none;
   background: transparent;
   color: var(--light);
   opacity: 0;
   cursor: pointer;
   outline: none;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 200%;
   /* background-color: var(--accent); */
}

.navbar--container h3 {
   grid-area: l;
   min-width: 14rem;
   margin-left: 2rem; 
   font-size: 2.5rem;
}

.nav--links {  
   color: var(--light);
   cursor: pointer;
}

.nav--links:hover {
   color: var(--secondary);
}

@media only screen and (max-width: 1024px) {
   .nav--button {
      margin-left: 85%;
   }
   
   .nav--close-button {
      position: absolute;
      top: 25px;
      right: 60px;
      margin: 0;
      padding: 0;
   }
   
   header {
      z-index: 2;
   }

   header h3 {
      width: 20rem;
      margin-top: 0rem;
   }

   header .nav--button {
      font-size: 2.5rem;
      visibility: visible;
      opacity: 1;
   }

   header nav {
      position: fixed;
      top: 0;
      left: 0;
      gap: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background-color: var(--accent3);
      transition: 0.5s;
      transform: translateY(-100vh);
   }

   header .responsive--nav {
      z-index: 4;
      display: flex;
      height: 100vh;
      padding: 15% 0;
      padding-bottom: clamp(10rem, 18rem, 20rem);
      justify-content: space-between;
      flex-direction: column;
      transform: none;
   }
}

@media only screen and (max-width: 777px) {
   .navbar--container {
      /* color: red; */
      padding-right: 40px;
   }

   header .nav--button {
     position: absolute;
     left: 7%;
   }

   header .nav--close-button {
      position: absolute;
      left: 85%;      
   }
}

/* Hero Section */

@media (max-width: 818px) {
   .hero--container {
      position: relative; 
      z-index: 1;
      display: grid;
      grid-template-columns: 175px min-content;
      grid-template-areas: 
      'img title'
      'img subtitle'
      'shape shape';
      grid-gap: 1em;   
      padding: 20em 0px 10em;
      justify-content: center;
   }

   .hero--headshot {
      position: relative;
      z-index: 2;
      grid-area: img;
      max-width: 100%;
      box-shadow: 0px 0px 15px 1px var(--darklight);
   }

   .hero--img-shape {
      position: relative;
      z-index: 1;
      top: -2em;
      left: 2em;
      grid-area: img;
      height: 230px;
      width: 175px;
      background-color: var(--accent2);
   }

   .hero--intro {
      grid-area: title;
      align-self: start;
      width: 15rem;
      margin-top: 0.4rem;
      padding-left: 8rem;
      font-size: 1.5rem;
      font-weight: 100;
      text-align: right;
      /* background-color: bisque; */
   }

   .hero--name {
      position: relative;
      top: 2rem;
      z-index: 2;
      grid-area: title;
      align-self: start;
      font-size: 3rem;
      font-weight: 700;
      width: 15rem; 
      width: max-content;
      /* background-color: red; */
   }

   .hero--skill {
      position: relative;
      z-index: 2;
      grid-area: title;
      align-self: end;
      width: min-content;
      font-size: 3.5rem;
      line-height: 1em;
      text-align: right;
      opacity: 0.8;
   }

   .hero--location {
      position: relative;
      z-index: 2;
      grid-area: subtitle;
      align-self: start;
   }

   .hero--bottom-shape {
      grid-area: 3 / 1 / -1 / 3;
      width: 100%;
      height: 50px;
      background-color: var(--secondary);
      box-shadow: 0px 0px 10px 1px rgb(190, 189, 189);
   }
}

@media (min-width: 818px) {
   .hero--container {
      position: relative;
      z-index: 1;
      display: grid;
      width: min-content;
      margin: 10rem auto;
      grid-template-columns: min-content max-content;
      grid-template-areas: 
      "img title"
      "img subtitle";
      grid-column-gap: 1em;
   }
   
   .hero--headshot {
      position: relative;
      z-index: 2;
      grid-area: img;
      max-width: 100%;
      min-width: 300px;
      box-shadow: 0px 0px 30px 1px var(--darklight);
   }

   .hero--intro {
      align-self: start;
      grid-area: title;
      margin-top: 4rem;
      opacity: 0.9;
      font-weight: 400;
      font-family: 'Ubuntu Mono', Arial, "Helvetica Neue", Helvetica, sans-serif;
      letter-spacing: -5px;
      word-spacing: -10px;
      color: var(--darklight);
   }

   .hero--name {
      align-self: end; 
      grid-area: title;
      margin-top: 30px;
      width: 100%;
   }

   .hero--skill {
      position: relative;
      left: -2.5rem;
      grid-column: -1 / 1;
      grid-row: 2;
      align-self: start;
      margin: 0;
      padding-top: 30px; 
      padding-bottom: 30px; 
      padding-left: calc(300px + 1rem); 
      padding-right: 3.5rem; 
      height: min-content;
      width: calc(100% + 5rem);
      background-color: var(--secondary);
      font-size: 3rem;
      font-weight: 700;
      font-family: 'Cutive Mono';
      text-align: right;
      color: var(--primary-light);
   }

   .hero--img-shape {
      display: none;
   }

   .hero--bottom-shape {
      display: none;
   }

   .hero--location {
      display: none;
   }
}

/* Skill Section */

.skill--container {
   padding: 15rem 5rem ;
   color: var(--light);
   background-color: var(--darklight2);
   background-image: url(../assets/mobile-image-pexels-pew-nguyen-15372903.jpg);
   background-size: cover;
   background-blend-mode: multiply;
   text-align: center;
}

.skill--header {
   position: relative;
   font-size: 7rem;
   color: var(--light); 
}

.skill--header::after {
   content: '';
   display: block;
   width: 18rem;
   height: 1px;
   margin: 1rem auto 4rem;
   opacity: 0.25;
   background: var(--primary-light);
}

.skill {
   max-width: 580px;
   margin: 0 auto;
}

.skill--function {
   margin-top: 7rem;
}

.skill--card-title {
   margin: 0;
   padding: 0;
   background: none;
   font-weight: 600;
   font-family: inherit;
   color: var(--accent3);
}

.skill--description {   
   margin: 2rem 0 1.5rem 0;
   padding: 0;
   font-size: 1.6rem; 
   line-height: 3rem;
   text-align: center;
}

.skill--button {
   border: none;
   cursor: pointer;
}

@media (min-width: 900px) {
   .skill--case {
      display: flex;
      gap: 3rem;
      margin: 6rem auto 0px;
      max-width: 1104px;
   }

   .skill + .skill {
      margin-left: 3rem;
   }

   .skill--header {
      width: 100%;
   }
   
   .skill--function {
      margin: 0;
   }

   .button {
      top: 6rem;
      padding: 1.5rem 8%;
      font-size: 2rem;
   }
}

/* Languages Section */

.lang--container {
   position: relative;
   z-index: 1;
   margin-top: 10rem;
   padding: 0 5rem;
   /* background-color: gray; */
}

.lang--header {
   max-width: 50rem;
   margin: 0 auto;
   text-align: center;
   font-size: 6rem;
   font-weight: 700;
   color: var(--secondary);
}

.lang--bkrnd {
   z-index: 1;
   max-height: 850px;
   max-width: 100%;
   opacity: 0.15;
}

.lang--logo-case {
   position: absolute;
   z-index: 2;
   top: 15rem;
   left: 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   grid-template-areas: 
   'a b c d'
   'e f g h';
   grid-gap: 3rem;
   justify-content: center;
}

.lang--logo-box h3 {
   margin: 0 auto;
   text-align: center;
   font-size: 3rem;
   color: var(--accent3);
   font-weight: 100;
   /* background-color: gray; */
}

.lang--logo {
   margin-top: 2rem;
   font-size: 12px;
   height: auto;
   width: 60%;
}

.lang--logo {
   margin-left: 9rem;
}

.lang--logo-case :nth-child(1) {
   grid-area: a;

}

.lang--logo-case :nth-child(2) {
   grid-area: b;  
}

.lang--logo-case :nth-child(3) {
   grid-area: c;   
}

.lang--logo-case :nth-child(4) {
   grid-area: d;   
}

.lang--logo-case :nth-child(5) {
   grid-area: e;   
}

.lang--logo-case :nth-child(6) {
   grid-area: f;   
}

.lang--logo-case :nth-child(7) {
   grid-area: g;  
}

.lang--logo-case :nth-child(8) {
   grid-area: h;   
}

/* About Section */

.about--me {
   margin: 5em auto 0 auto;
   padding-top: 7rem;
   max-width: 1124px;
}

.about--img1,
.about--img2,
.about--img3 {
   width: 100%;
}

@media (min-width: 714px) {
   .about--me {
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-template-areas: 
      'title img'
      'subtitle img'
      'story img';
      grid-column-gap: 2rem;
   }
   
   .about--title {
      grid-area: title;
   }
   
   .about--subtitle {
      position: relative;
      z-index: 1;
      left: -1em;
      grid-column: 1 / -1;
      grid-row: 2;
      margin-bottom: 1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(300px + 2em);
   }
   
   .about--story-case {
      /* background-color: darkmagenta;  */
      grid-area: story;
   }

   .about--img-case {
      position: relative;
      z-index: 1;
      grid-area: img;
   }

   .about--img2,
   .about--img3 {
      margin-top: 2rem;
   }
}

/* Projects Section */

#projects {
   padding-top: 1rem;
}

.project--title {
   max-width: min-content;
   margin: 10rem auto 3rem;
   font-size: clamp(1rem, 17vw, 9rem);
}

.project--container {
   display: flex;
   flex-direction: column;
   gap: 8rem;
   font-size: 1.6rem;
}

.project--card {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   border: 5px solid var(--primary-light);
   border-radius: 5px;
   /* background-color: fuchsia; */
}

.project--card img {
   width: 100%;
   height: clamp(100px, 300px, 100%);
   border-radius: 5px 5px 0px 0px;
   background-position: center;
   background-size: cover;
}

.project--image-case:hover .project--image,
.project--image-case:focus .project--image {
   cursor: pointer;
   transform: scale(1.02);
   transition: all 0.5s;
}

.project--specs {
   display: flex;
   flex-direction: column;
   gap: 1rem; 
   padding: 1rem 4rem 0px;
}

.project--specs h3 {
   position: relative;
   left: -1rem;
   font-size: 2.3rem;
   font-weight: 700;
}

.project--stack {
   /* margin-top: 1rem; */
   list-style: none;
}

.project--stack li {
   display: inline-block; 
   justify-content: space-between;
   padding: 1rem;
   margin: 0 1rem 1rem;
   box-shadow: 0px 0px 10px 1px var(--light-shadow);
   width: min-content;
   background-color: var(--accent3);
   font-weight: 600;
   font-family: 'Cutive Mono', Arial, Helvetica, sans-serif;
   color: var(--primary-light);
}
.project--description {
   /* background-color: #e76f51; */
   padding: 0rem 4rem 0px;
}

.project--summary {
   margin-top: 2rem;
   line-height: 2em;
}

.project--button-container {
   display: flex;
   flex-direction: column;
}

.project--button-case {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20rem;
   height: 5rem;
   margin: 1rem auto 2rem;
   border: 0.3rem solid var(--light-shadow);
}

.project--repo-button {
   background-color: var(--secondary);
}

.project--button {
   background-color: var(--accent2);
}

.project--button,
.project--repo-button {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 1rem;
   text-align: center;
}

.project--button:hover,
.project--repo-button:hover {
   box-shadow: -3rem 3rem 2rem var(--gray);
   transform: translate3d(2rem, -2rem, 0.5rem) ;
   transition: 0.5s;
}

@media (min-width: 1024px) {
   .project--card {
      display: grid;
      grid-template-columns: 500px 1fr 1fr;
      grid-template-areas: 
      'img specs text'
      'img specs button';
      gap: 0;
   }

   .project--card img {
      grid-area: img;
      width: 100%;
      height: auto;
      border-radius: 0px;
   }

   .project--specs {
      grid-area: specs; 
   }

   .project--stack li {
      display: inline-block;
   }
   
   .project--description {
      height: min-content;
      grid-area: text; 
   }
   
   .project--description p:last-child {
      height: min-content;
      margin-bottom: 0;
      padding-bottom: 0;
   }
   
   .project--button-case {
      position: relative;
      left: -3rem;
      align-self: start;
      grid-area:  button;
      margin: 0 auto;
   }
}

@media (min-width: 1200px) {
   .project--button-case {
      position: relative;
      top: -60%;
   }
}

/* Contact Section */

.contact--section {
   margin-top: 7rem;
   padding: 5rem; 
   background-color: var(--accent3);
}

.contact--container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.contact--title {
   width: min-content;
   margin: 0 auto;
   color: var(--light);
}

.contact--email {
   margin: 0 auto;
   padding: 1rem 10%;
   border-radius: 4px;
   font-size: 1.4rem;
   color: var(--primary-light);
   background-color: var(--secondary);
}

.contact--email:hover {
   transform: scale(1.1);
   transition: 0.1s;
   box-shadow: 0 0 10rem 0.1rem var(--accent2);
}

.contact--shape-case {
   position: relative;
   z-index: 1;
   height: 150px;
   width: auto;
   margin:  0 auto;
}

.contact--square {
   position: absolute;
   z-index: 2;
   top: 6rem;
   left: -13em;
   width: 12rem;
   height: 12rem;
   background-color: var(--primary);
}

.contact--cylinder {
   position: inherit;
   top: 5rem;
   left: -6rem;
   z-index: 6;
}

.rectangle {
   position: relative;
   width: 12rem;
   height: 11rem;
   background-color: var(--accent2);
}

.oval {
   position: absolute;
   width: 100%;
   height: 30%;
   border-radius: 100%;
}

.top--oval {
   top: -15%; 
   border-radius: 50%;
   background-color: var(--accent);
}

.bottom--oval {
   bottom: -15%; 
   border-radius: 50%;
   background-color: inherit;
}

.contact--rectangle {
   position: absolute;
   top: 7rem;
   left: -1rem;
   z-index: 5;
   width: 20rem;
   height: 6rem;
   background-color: var(--secondary);
}

.contact--triangle {
   position: absolute;
   top: 0rem;
   left: 10rem;
   z-index: 4;
   width: 0;
   height: 0;
   border: 7.5rem solid transparent;
   border-top: 0;
   border-bottom: 15rem solid var(--accent);
}

.contact--circle {
   position: absolute;
   z-index: 3;
   top: 2rem;
   left: 7rem;
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   background-color: var(--primary);
}

@media (min-width: 1024px) {
   .contact--container {
      position: relative;
      height: 40rem;
   }

   .contact--title {
      position: absolute;
      top: 0rem;
   }

   .contact--email {
      margin-top: 5.8rem;
   }

   .contact--shape-case {
      position: absolute;
      top: 23rem;
      left: 45%;
      margin: 0 auto; 
      width: 150px;
      /* background-color: #E0E4E6; */
   }

   .contact--square {
      z-index: 6;
      top: 4rem;
      left: 40vw;
      transition: all 5s ease-in;
   }

   .contact--cylinder {
      top: -25rem;
      left: -40vw;
      transition: all 5s ease-in;
   }

   .contact--rectangle {
      left: -15rem;
      width: 400px;
      transform: scaleX(2.3);
      transition: all 10s ease-in;
   }

   .contact--circle {
      top: 1rem;
      left: -40vw;
      transition: all 5s ease-in;
   }

   .contact--triangle {
      top: -25rem;
      left: 37vw;
      transition: all 5s ease-in;
   }
}

/* Footer Section */

.footer--section {
   padding-top: 4rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   background-color: var(--primary);
   color: var(--primary-light);
   text-align: center;
}

.footer--section > a {
   font-size: 1.6rem;
}

.footer--section > a:hover {
   opacity: 0.7;
   color: var(--accent);
}

.footer--icon-container {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin: 1rem auto 10rem; 
}

.footer--icon {
   font-size: 2rem;
}

.footer--icon +  .footer--icon {
   margin-left: 3rem;
}

.footer--icon:hover {
   opacity: 0.7;
}

@media (min-width: 838px) {
   .footer--section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: min-content;
      flex-direction: row;
   }

   .footer--section > a {
      padding-top: 0.4rem;
      padding-left: 40%;
   }

   .footer--icon-container,
   .footer--section > a {
      margin-top: 4rem;
   }

   .footer--icon-container {
      padding-right: 35%;
   }

   .footer--section p {
      grid-area: 2 / 1 / 3 / 3 ;
   }   
}

